<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (c) 2002-2013 "Neo Technology,"
    Network Engine for Objects in Lund AB [http://neotechnology.com]

    This file is part of Neo4j.

    Neo4j is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noser.neo4j.android.dbinspector"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="org.neo4j.android.permission.READ" />
    <uses-permission android:name="org.neo4j.android.permission.WRITE" />
    <uses-permission android:name="org.neo4j.android.permission.ADMIN" />

    <application
        android:name=".implementation.DBInspectorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_neo4j"
        android:label="@string/app_name" >
        <activity
            android:name=".implementation.MainActivity"
            android:label="@string/main_activity_label"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".implementation.RootNodeActivity"
            android:label="@string/rootnode_activity_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".implementation.NodeActivity"
            android:label="@string/node_activity_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".implementation.RelationshipActivity"
            android:label="@string/relationship_activity_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".implementation.NodePropertiesActivity"
            android:label="@string/node_properties_activity_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".implementation.RelationshipPropertiesActivity"
            android:label="@string/relationship_properties_activity_label"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>